<% title "Group" %>

<%= render @group %>

<%= link_to "Edit", edit_group_path(@group) %> |
<%= link_to "Delete", @group, method: :delete, data: {confirm: "Are you sure?"} %> |
<%= link_to "All Groups", groups_path %>

<h3>Posts:</h3>

<%= render @group.posts %>
<%= link_to "New Post", new_group_post_path(@group), class: "btn btn-primary" %>